# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
logs/
*.log

# Database
*.db
*.sqlite

# Environment
.env
.env.local

# Generated code
**/build/generated/

# Node (pokud budeš mít frontend)
node_modules/
npm-debug.log*